/* Add here all your CSS customizations */

/* jQuery Thermometer */

.thermometer-outer {
	background: #c4f0ff;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
}

.thermometer-outer-h {
	height: 20px;
	width: 100%;
}

.thermometer-outer-v {
	height: 200px;
	width: 20px;
}

.thermometer-inner {
	background: #3f83f7;
}

.thermometer-inner-h {
	height: 20px;
}

.thermometer-inner-v {
	width: 20px;
}